@use './app/core/theme/tokens';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-base);
  background: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-primary-dark);
}

button {
  font-family: inherit;
}
